    img {
      margin-left:450px;
        
        
    }
    h1 {
       margin-left:500px;
        color:;
    }
a {
    text-decoration:none;
    font-family:arial;
    font-size:20px; 
}
script var {
    width:200px;
}